<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/contract_pdf.css">
</head>
<body class="contract-body">
    <h1 class="main-title">Protokoll-Übersicht</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vertrag</th>
                <th>Typ</th>
                <th>Datum</th>
                <th>Schlüssel</th>
                <th>Notizen</th>
            </tr>
        </thead>
        <tbody>
            {% for protocol in protocols %}
            <tr>
                <td>{{ protocol['Protokoll-ID'] }}</td>
                <td>{{ protocol['Vertragsnummer'] }}</td>
                <td>{{ protocol['Typ'] }}</td>
                <td>{{ protocol['Datum'] }}</td>
                <td>{{ protocol['Schlüsselanzahl'] }}</td>
                <td>{{ protocol['Anmerkungen'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
